@charset "utf-8";

/* --main */
.main-title {
  text-align: center;
  margin-top: 30px;
}

.main-title h1 {
  font-family: 'Sawarabi Mincho', serif;
  font-weight: bold;
}

.main-title p {
  font-size: 18px;
}

.explains {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.explain {
  width: 30%;
  margin: 0 10px;
  padding: 15px;
  background: #c3c3c3;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 2px;
}

.explain img {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.explain h2 {
  font-size: 18px;
  color: #333;
}

.explain p {
  font-size: 14px;
  margin-top: 10px;
}

.explains-2 {
  margin-top: 50px;
  border-top: 4px double black;
  border-bottom: 4px double black;
}

.explains-2 h1 {
  margin-top: 8px;
}

.explains-2 ul li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
}

.room-time p {
  text-align: center;
}

/* --introduce */
.introduce {
  margin-top: 50px;
  background: rgb(255, 131, 131, 0.9);
}

.introduce-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.introduce-img {
  width: 50%;
  text-align: center;
}

.introduce-wrapper img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.introduce-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.introduce-wrapper ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* --notice */
.notice {
  margin-top: 50px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.notice h1 {
  text-align: center;
  margin-bottom: 20px;
}

.notice ul {
  list-style-type: none;
  padding: 0;
}

.notice ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.policy {
  width: 60%;
  height: 300px; /* 高さを任意で調整 */
  overflow-y: scroll; /* 縦方向にスクロール可能にする */
  border: 1px solid #ccc; /* 境界線を追加 */
  padding: 15px;
  box-sizing: border-box;
  background-color: #f9f9f9; /* 背景色を設定 */
  margin: 32px auto 0;
}

.policy p {
  font-size: 14px; /* テキストのサイズを調整 */
  line-height: 1.5; /* 行間を調整 */
  margin: 0;
  white-space: pre-wrap; /* テキストの折り返し */
}

/* メディアクエリ（1000px以下） */
@media (max-width: 1000px) {
  .explain {
    margin-bottom: 20px;
  }

  .introduce-wrapper {
    text-align: center;
  }

  .introduce-img, aside {
    width: 100%;
  }

  .introduce-img img {
    width: 170px;
    height: 170px;
  }
}

/* メディアクエリ（670px以下） */
@media (max-width: 670px) {
  .main-title p {
    font-size: 12px;
  }

  .explains {
    display: flex;
    flex-direction: column;
  }

  .explain {
    display: block;
    width: 80%;
    margin: 0 auto 8px;
  }

  .explain-text {
    margin: auto;
  }

  .explain-text p {
    font-size: 12px;
  }

  .explains-2 ul li {
    font-size: 12px;
    list-style-type: circle;
    text-align: left;
  }

  .introduce-wrapper img {
    width: 150px;
    height: 150px;
  }

  .introduce-wrapper ul li {
    font-size: 12px;
  }

  .notice ul li {
    font-size: 12px;
  }

  .policy p {
    font-size: 12px;
  }
}
